* {
    box-sizing: content-box;
    padding: 20px;
    margin: 20px;
}


body {
    flex-shrink: 0;
    background-color:rgb(2, 35, 182);
    color:#ffffff;
}


a {
    color: #ffffff;
    text-decoration: yellow;
}



p {
    font-size: 16px;
    font-family: 'Lucida', 'Courier New', 'Courier', monospace, sans-serif;
}

.Colton {
    color:#2589bd;
    cursor: crosshair;
}

.float-left {
    float: left;
    margin-right: 25px;
}


.float-right {
    float: right;
    margin-left: 25px;
}


header {
    padding: 50px;
    font-family: 'Lucida', 'Courier New', 'Courier', monospace, sans-serif;
    background-color:rgb(191, 163, 2);
    text-align:left;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 50px;
}


header h1 .


header nav {
    padding-top: 25px;
    float: right;
    font-family: 'Lucida', 'Courier New', 'Courier', monospace, sans-serif;
    font-size: 20px;
}


header nav ul {
    float:right;
    list-style-type: none;
}


header nav ul li {
    padding-top: 25px;
    display: inline-block;
    margin-left: 25px;
}


.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/college-friends.JPG");
    background-size: cover;
    background-position: center;
    display:flex;
    cursor: pointer;
}


.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


.card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Lucida', 'Courier New', 'Courier', monospace, sans-serif;
    color: #ffffff;
    background-color: rgb(191, 163, 2);
}


.card img {
    max-height: 200px;
}
.my-git-projects {
    flex-wrap: wrap;
    border: solid;
    text-size-adjust: flex;
}

.card h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.benefits {
    display: inline-flexbox;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Lucida', 'Courier New', 'Courier New', Courier, monospace, sans-serif;
    background-color: rgb(191, 163, 2);
    color:#ffffff;
}


.benefit {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Lucida', 'Courier New', 'Courier New', Courier, monospace, sans-serif;
    
}


.benefit h3 {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Lucida', 'Courier New', 'Courier New', Courier, monospace, sans-serif;
    color: #ffffff;
}


.benefit img {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Lucida', 'Courier New', 'Courier New', Courier, monospace, sans-serif;
    color: #ffff;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


.footer h4 {
    font-size: 20px;
}

.about-me-box {
    padding:25px 50px;
}

@media screen and (max-width: 992px){
    header{
        background-color: rgb(191, 163, 2);
    }
}
@media  screen and (max-width: 768px) {
    header{
        background-color: #2589bd;
    }
}
@media  screen and (max-wdth: 576px) {
    header{
        background-color: blue;
    }
}