* {
    box-sizing: content-box;
    padding: 20px;
    margin: 20px;
}


body {
    flex-shrink: 50;
    background-color:rgb(2, 35, 182);
    color:#ffffff;
}


a {
    color: #ffffff;
    text-decoration: yellow;
}



p {
    font-size: 16px;
    font-family: 'Lucida', 'Courier New', 'Courier', monospace, sans-serif;
}

.Colton {
    color:#2589bd;
    cursor: crosshair;
}

.float-left {
    flex:auto;
    float: left;
    margin-right: 10px;
    transform: rotate(-10deg);
}


.float-right {
    flex:auto;
    float: right;
    margin-left: 25px;
    transform: rotate(10deg);
}


header {
    padding: 50px;
    font-family: 'Lucida', 'Courier New', 'Courier', monospace, sans-serif;
    background-color:rgb(191, 163, 2);
    text-align:left;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 50px;
}

header nav ul {
    float:right;
    list-style-type: none;
}


header nav ul li {
    padding-top: 25px;
    display: inline-block;
    margin-left: 25px;
}


.boxes{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/college-friends.JPG");
    background-size: cover;
    background-position: center;
    display:flex;
    cursor: pointer;
}


.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


.card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Lucida', 'Courier New', 'Courier', monospace, sans-serif;
    color: #ffffff;
    background-color: rgb(191, 163, 2);
}


.card img {
    max-height: 200px;
}
.my-git-projects {
    flex-wrap: wrap;
    border: solid;
    text-size-adjust: flex;
}

.card h2 {
    margin-bottom: 30px;
    font-size: 36px;
}


.hobbie-box {
    display:inline-flex;
    justify-content: center;
    position: absolute;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: Left;
    width: 20%;
    height: 100%;
    background-color: rgb(191, 163, 2);
    color:#ffffff;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


.footer h4 {
    font-size: 20px;
}

.about-me{
    padding:10px 20px;
    transform: rotate(10deg);
}

@media screen and (max-width: 992px){
    header{
        background-color: rgb(191, 163, 2);
    }
}
@media  screen and (max-width: 768px) {
    header{
        background-color: #2589bd;
    }
}
@media  screen and (max-wdth: 576px) {
    header{
        background-color: blue;
    }
}